{
  "plugins": [
    ["add-shopify-header", {"files": [ "src/index.js" ]}],
  ],
  "env": {
    "development": {
      "presets": [
        "shopify"
      ]
    },
    "tdd": {
      "presets": [
        ["shopify/web", {
          "modules": false
        }],
        "es2015-rollup"
      ]
    }
  }
}
