{
  "plugins": [
    ["add-shopify-header", {"files": [ "src/index.js" ]}],
    ["eslint-test-generator", {
      "template": "mocha",
      "paths": [
        "src/**/*.js",
        "test/**/*.js"
      ],
      "file": "test/lint-tests.js",
      "maxWarnings": 0
    }]
  ],
  "env": {
    "development": {
      "presets": [
        "shopify"
      ]
    },
    "tdd": {
      "presets": [
        ["shopify/web", {
          "modules": false
        }],
        "es2015-rollup"
      ]
    }
  }
}
