# CI/dev artifacts
.git/
.tmp/
*.log
junit
node_modules
fixtures/types.js
.tmp
docs

# Package Source
scripts
src
test
.babelrc
.eslintignore
.eslintrc.json
.gitignore
.npmignore
.travis.yml
package.json
rollup.config.js
schema.json

# System junk
.DS_Store
